
<%
    if(typeof error_message !== 'undefined'){
        %>
            <p style="color: red;"><%= error_message %></p>
        <%
    }
%>

<form action="/reset-password" method="POST">
    <input type="hidden" name="user_id" value="<%= user.user_id %>">
    <input type="hidden" name="user_email" value="<%= user.user_email %>">
    <input type="password" name="password" required placeholder="New Password">
    <br><br>
    <input type="password" name="confirm_password" required placeholder="Re-type New Password">
    <br><br>
    <input type="submit" value="Reset Password">
</form>